@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  font-family: 'Open Sans', 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.35;
  color: #6d7986,inherit;
  background-color: transparent;

}

.clearfix {
  clear: both;
}

.top-left {
  display: inline-block;
  margin-left: 20px;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 12px;
  height: 43px;
  font-size: 0.9em;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.logo img {
  width: 125px;
}

.bear-logo-size {
  width: 50px;
}

.bar-logo {
  height: 90px;
  background-color: #22597a;
  padding: 20px 0;
  display: flex;
}

.logo {
  width: 13%;
  display: block;
}

.border {
  border: 1px solid blue;
}


.float-right {
  float: right;
}
.float-left {
  float: left;
}
.size {
  height: 50px;
}

.font-decoration-heading {
  color: white;
  text-decoration: none;
  list-style: none;
}

#center {
  padding-top: 15px;
}

.search {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.searching {
  width: 91%;
  font-size: 1em;
  background-color: rgb(31, 82, 111);
  color: #737575;
  padding-left: 20px;
  font-weight: 100;
  border: 1px solid #4f738a;
}
.searching-btn {
  width: 50px;
  font-size: 1em;
  background-color: rgb(31, 82, 111);
  color: white;
  border: 1px solid #4f738a;
}
.user-info {
  margin-right: 20px;
  width: 16%;
  display: block;
}

.center-text {
  margin: 0 auto;
}

.big-container {
  width: 1160px;
  margin-top: 90px
}

.col-2 {
  width: 560px;
  padding: 30px 10px;
  margin-left: 40px;
}

.about {
  background: url("images/city-scape.svg") no-repeat right center;
  background-size: cover;
  height: 440px;
  margin-top: -90px;
  color: white;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  margin: 10px 0;
}

.p-heather {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.btn {
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.orange {
  background-color: #f09233;
}

.container {
  padding: 120px 0;
}

.collaboration {
  background-color: rgb(39, 53, 71);
}

.flex {
  display: flex;
}

.container-center {
  width: 70%;
  margin: 0 auto;
}

.collaboration-img {
  width: 55%;
  display: block;
}

.collaboration-info {
  width: 45%;
  display: block;
  color: white;
  padding-left: 3%;
}
h2 {
  margin: 20px 0;
  font-size: 2.3em;
}

#bold {
  font-weight: bold;
}

.text {
  margin-top: 10px;
}

.red {
  background-color: rgb(203, 56, 55);
}

.what-is {
  background: url("images/forklift.svg") no-repeat center center;
  background-size: cover;
  color: white;
}

.what-is-content {
  width: 33%;
  height: 260px;
}

.blue {
  background-color: rgb(49, 68, 88);
}

.grey-p {
  color: rgb(135, 145, 156);
}

.grey-h {
  color: rgb(83, 88, 98);
}

.container2 {
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.building-heading {
  padding-top: 40px;
}

.buiding-description {
  padding-bottom: 40px;∫
}

.item {
  display: block;
  width: 33%;
  padding: 20px 60px;
}

.style-h3 {
  margin: 10px;
  font-weight: bold;
}

.p-red {
  color: rgb(208, 74, 73);
}
